<!DOCTYPE html>
<html>
    <meta charset="utf-8">
  <meta name="description" content="Game Warrior Template">
  <meta name="keywords" content="warrior, game, creative, html">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Favicon -->
<!--   <link href="img/favicon.ico" rel="shortcut icon"/>
 -->
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i" rel="stylesheet">

  <!-- Stylesheets -->
  <link rel="stylesheet" media="only screen and (min-width: 481px) and (max-width: 960px)" href="../css/tablet.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
      <!-- Media query for full browser width -->
    <link rel="stylesheet" media="only screen and (min-width: 961px)" href="../css/custom.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../css/owl.carousel.css"/>
    <link rel="stylesheet" href="../css/custom.css"/>
    <link rel="stylesheet" href="../css/animate.css"/>

    <script src="../js/contact.js"></script>

    <title>Contact</title>

    #parse("public/navigation.vm")
    <!--Grid column-->

  </div>

        <div class="col-md-4">
          <a class="btn-floating blue accent-1"><ion-icon size = large name="location"></ion-icon></a>
          <p> JHU Campus Safety and Security</p>
          <p> 3001 Remington Ave, Baltimore, MD 21211</p>
          <p>United States</p>
        </div>

        <div class="col-md-4">
          <a class="btn-floating blue accent-1"><ion-icon size = large  name="call"></ion-icon></a>
          <p><a href="tel:+4105164600">+(410) 516-4600</a></p>
          <p>Mon - Fri, 8:00-22:00 <span id="status">Open</span></p>
        </div>

        <div class="col-md-4">
          <a class="btn-floating blue accent-1"><ion-icon size = large name="mail"></ion-icon></a>
          <p><a href="mailto:security@jhu.edu">security@jhu.edu</a></p>

        </div>


</section>

  </head>
  </HTML>