#set( $title = "Show Incidents" )
#parse("public/top.vm")
<head>

<!--   <link href="img/favicon.ico" rel="shortcut icon"/>
 -->
  <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i" rel="stylesheet">


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.anychart.com/releases/8.0.1/js/anychart-core.min.js"></script>

    <script src="https://cdn.anychart.com/releases/8.0.1/js/anychart-pie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.1.2/papaparse.min.js"></script>

##    <script type="text/javascript">
##        // only load it if it isn't already loaded
##        !window.google && document.write('<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKPjr40zhYagqXTfKxI1sBC8hnNajRo98&v=weekly"><\/script>')
##    </script>
    ##    <script type="module" src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
    ##    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
##    <script src="jquery-csv.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://apis.google.com/js/api.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="../js/index.js"></script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>

    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/custom.css"/>
    <link rel="stylesheet" href="../css/animate.css"/>
</head>
<body>
    #parse("public/navigation.vm")

    #if ($incidents)
    <h2>All incidents:</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Date And Time</th>
            <th>Location</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
            #foreach($inc in $incidents)
                <tr>
                    <td>$inc.dateAndTime</td>
                    <td>$inc.location</td>
                    <td>$inc.description</td>
                </tr>
            #end
        </tbody>
    </table>
    #end

##    <body onload="initMap()">
    #if ($incidents)
    <h2>List of all incidents:</h2>
    <div class="container">

            #foreach($inc in $incidents)
                <script>
                    var incidents = [];
                    var positions = [];
                    var data = [
                        {x: "Murder", value: 0},
                        {x: "Rape", value: 0},
                        {x: "Robbery", value: 0},
                        {x: "Assault", value: 0},
                        {x: "Burglary", value: 0},
                        {x: "Larceny", value: 0},
                        {x: "Auto Theft", value: 0},
                        {x: "Arson", value: 0},
                        {x: "Shooting", value: 0},
                    ];

                    setInterval(function() {
                        //     updateTheMarkers();
                        // }, 5000);
                        ## codeAddress2( $inc.longtitude, $inc.latitude, "$inc.location",  "$inc.description",  $inc.crimeCode);
                        // console.log("codeadd2");
                        var num_markers = 0;
                         var add = String("$inc.location");
                         var des = String("$inc.description");
                        var crimecode = $inc.crimeCode;
                        var incident = {lat:$inc.latitude,lng:$inc.longtitude, address:add, description:des, crimecode:crimecode};
                         var position = {lat:$inc.latitude, lng: $inc.longtitude};
                        ## var position = new google.maps.LatLng($inc.latitude, $inc.longtitude);

                        if (incidents.some(incident=> incident.lat === $inc.latitude) && incidents.some(incident=> incident.lng === $inc.longtitude ) && incidents.some(incident=> incident.address === add) &&incidents.some(incident=> incident.description === des) &&incidents.some(incident=> incident.crimecode === crimecode )  ){
                            console.log("already exists");
                            // console.log(incidents);
                            ## console.log(locations.some(position=> position.lat === $inc.latitude ));
                        }
                        else {

                            incidents.push(incident);
                            positions.push(position);
                            if (crimecode == 1){
                                data[0].value++;
                            }
                            else if (crimecode == 2){
                                data[1].value++;
                            }
                            else if (crimecode == 3){
                                data[2].value++;
                            }
                            else if (crimecode == 4){
                                data[3].value++;
                            }
                            else if (crimecode == 5){
                                data[4].value++;
                            }
                            else if (crimecode == 6){
                                data[5].value++;
                            }
                            else if (crimecode == 7){
                                data[6].value++;
                            }
                            else if (crimecode == 8){
                                data[7].value++;
                            }
                            else if (crimecode == 9){
                                data[8].value++;
                            }

                        }
                        console.log(data);
                        console.log(positions);

                    }, 50000);

                </script>

                <i> address: $inc.location </i> description: $inc.description
            #end
    #end


    </div>
    </body>

#parse("public/bottom.vm")