#set( $title = "Login" )
#parse("public/top.vm")
<head>
    <meta charset="utf-8">
    <meta name="description" content="Game Warrior Template">
    <meta name="keywords" content="warrior, game, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" media="only screen and (min-width: 481px) and (max-width: 960px)" href="../css/tablet.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <!-- Media query for full browser width -->
    <link rel="stylesheet" media="only screen and (min-width: 961px)" href="../css/custom.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../css/owl.carousel.css"/>
    <link rel="stylesheet" href="../css/custom.css"/>
    <link rel="stylesheet" href="../css/animate.css"/>

    <meta name="google-signin-scope" content="profile email">

    <meta name="google-signin-client_id" content="873266246787-gb5nqmcj9ojuibrujfrar5gpl3tgkgli.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

#parse("public/navigation.vm")


<title>Login</title>
    ##      <form action="action_page.php" method="post">
    <div class="imgcontainer">
        <img src = "img/google.png" style="margin:auto; width:200px;display:block" />

        <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark" style="margin:auto; width:200px;display:block"></div>
        <br>
        <button type="button" class="btn btn-primary" onclick="signOut() " style="margin:auto; width:200px;display:block">Sign out</button>

    </div>

<center>
</center>

<br>
<script>
    function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        var name = String(profile.getName());
        var email= String(profile.getEmail());

        // Sending user details to backend
        fetch('https://security-jhu-app.herokuapp.com/login?'+ "&name=" + name +"&email="+ email, {
                    method: 'POST',
                }
        ).then();
        console.log("FETCHED");


        var myUserEntity = {};
        myUserEntity.Id = profile.getId();
        myUserEntity.Name = profile.getName();

        //Store the entity object in sessionStorage where it will be accessible from all pages of your site.
        sessionStorage.setItem('myUserEntity',JSON.stringify(myUserEntity));

        // window.location.href = "https://security-jhu-app.herokuapp.com/";

    }
    // <a href="#" onclick="signOut();">Sign out</a>
    function signOut() {
        console.log("signing out");
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            console.log('User signed out.');
        });
    }
</script>


<!-- Compiled and minified CSS -->
##<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
##<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

</HTML>
