<!DOCTYPE html>
<html>
  <head>
      <style>
      /* Bordered form */
      form {
        border: 3px solid #f1f1f1;
      }

      /* Full-width inputs */
      input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
      }

      /* Set a style for all buttons */
      button {
        background-color: #04AA6D;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
      }

      /* Add a hover effect for buttons */
      button:hover {
        opacity: 0.8;
      }

      /* Extra style for the cancel button (red) */
      .cancelbtn {
        width: auto;
        padding: 10px 18px;
        background-color: #f44336;
      }

      /* Center the avatar image inside this container */
      .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
      }

      /* Avatar image */
      img.avatar {
        width: 40%;
        border-radius: 50%;
      }

      /* Add padding to containers */
      .container {
        padding: 16px;
      }

      /* The "Forgot password" text */
      span.psw {
        float: right;
        padding-top: 16px;
      }

      /* Change styles for span and cancel button on extra small screens */
      @media screen and (max-width: 300px) {
        span.psw {
          display: block;
          float: none;
        }
        .cancelbtn {
          width: 100%;
        }
      }
    </style>



  <!-- Stylesheets -->
  <link rel="stylesheet" media="only screen and (min-width: 481px) and (max-width: 960px)" href="../css/tablet.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
      <!-- Media query for full browser width -->
    <link rel="stylesheet" media="only screen and (min-width: 961px)" href="../css/custom.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../css/owl.carousel.css"/>
    <link rel="stylesheet" href="../css/custom.css"/>
    <link rel="stylesheet" href="../css/animate.css"/>

        <meta name="google-signin-scope" content="profile email">
        <meta name="google-signin-client_id" content="649384552528-c9ej84f58ijleb0o16rrpnqcsrns3c7u.apps.googleusercontent.com">
        <script src="https://apis.google.com/js/platform.js" async defer></script>

    <header class="header-section">
        <div class="container">
          <!-- logo -->
          <a class="site-logo" href="index.html" style="color:#ffb320;">
                  <img src="../img/main-icon.ico" alt="" style="padding-right:10px" width="70vh" height ="70vh">
                  <b>JHU Security APP</b>
                </a>
          <div class="user-panel">
            <a href="/login">Login</a>  /  <a href="/signup">Register</a>
          </div>
          <!-- responsive -->
          <div class="nav-switch">
            <i class="fa fa-bars"></i>
          </div>
          <!-- site menu -->
          <nav class="main-menu">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/account">Account</a></li>
              <li><a href="/intro">Intro</a></li>
              <li><a href="/incidents">NewPage</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </nav>
        </div>
      </header>

    <title>Simple Map</title>
     <a>
      <form action="action_page.php" method="post">
         <div class="imgcontainer">
           <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="Avatar" class="avatar" style="width:100px; height: 100px">
         </div>

         <div class="container">
           <label for="uname"><b>Username</b></label>
           <input type="text" placeholder="Enter Username" name="uname" required>

           <label for="psw"><b>Password</b></label>
           <input type="password" placeholder="Enter Password" name="psw" required>

           <button type="button" onclick="handleSubmit()">Login</button>
         </div>
       </form>
     </a>

<center>
     <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
</center>

     <br>
         <script>
           function onSignIn(googleUser) {
             // Useful data for your client-side scripts:
             var profile = googleUser.getBasicProfile();
             console.log("ID: " + profile.getId()); // Don't send this directly to your server!
             console.log('Full Name: ' + profile.getName());
             console.log('Given Name: ' + profile.getGivenName());
             console.log('Family Name: ' + profile.getFamilyName());
             console.log("Image URL: " + profile.getImageUrl());
             console.log("Email: " + profile.getEmail());

               var myUserEntity = {};
               myUserEntity.Id = profile.getId();
               myUserEntity.Name = profile.getName();

               //Store the entity object in sessionStorage where it will be accessible from all pages of your site.
               sessionStorage.setItem('myUserEntity',JSON.stringify(myUserEntity));


             window.location.href = "http://localhost:7000";


           }

           function checkIfLoggedIn()
           {
             if(sessionStorage.getItem('myUserEntity') == null){
               //Redirect to login page, no user entity available in sessionStorage
               window.location.href='http://localhost:7000/login';
             } else {
               //User already logged in
               var userEntity = {};
               userEntity = JSON.parse(sessionStorage.getItem('myUserEntity'));
               window.location.href = "http://localhost:7000";

             }
           }

           function logout()
           {
             //Don't forget to clear sessionStorage when user logs out
             sessionStorage.clear();
           }
         </script>



<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

         </head>
  </HTML>
