<header class="header-section">
    <div class="container">
        <!-- logo -->
        <a class="site-logo" href="/" style="color: #97d6de;">
            <img src="../img/main-icon.ico" alt="" style="padding-right:10px" width="60vh" height ="60vh">
            <b>JHU Security APP</b>
        </a>
        <div class="user-panel">
            <a href="/login">Login</a>
        </div>
        <div class="user-panel">
            <a href="/signup">Register</a>
        </div>
        <!-- responsive -->
        <div class="nav-switch">
            <i class="fa fa-bars"></i>
        </div>
        <!-- site menu -->
        <nav class="main-menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/account">Account</a></li>
                <li><a href="/intro">Intro</a></li>
                <li><a href="/incidents">Incident History</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>